<launch>
  <!-- Load parameters into the parameter server -->
  <param name="use_sim_time" value="true"/>
  <param name="robot_description" textfile="$(find simulator_2link_planar)/urdf/2link_planar_model.urdf"/>
    
  <!-- Run the robot state publisher node -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" />

  <!-- Run rviz -->
  <arg name="rvizconfig" default="$(find simulator_2link_planar)/rviz/urdf.rviz" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <!-- Run the kinematic simulator -->
  <node pkg="kinsim_2link_planar" type="kinsim_2link_planar_node" name="kinsim_2link_planar">
    <rosparam param="q1_initial"> 0.7840</rosparam>
    <rosparam param="q2_initial">-1.5708</rosparam>
  </node>

  <!--- Run planner_joint node -->
  <node pkg="controller_2link_planar" type="planner_joint" respawn="false" name="planner_joint" output="screen">
    <rosparam file="$(find controller_2link_planar)/config/planner_joint_params.yaml" command="load" />
  </node>
</launch>
